<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
  </head>
  <body>
    <h1 style="text-align: center;">SignUp</h1>

    <form style="text-align: center;" action="/signup" method="POST">
      <input type="number" id="phone" name="user_phone_number" placeholder="Phone Number" required>
      <input type="password" id="password" name="user_password" placeholder="Password" required>
      <button type="submit">SignUp</button>
    </form>

		<p style="text-align: center;">Already done? <a style="text-decoration: none; font-weight: bold; color: dodgerblue;" href="/login">LogIn</a></p>
  </body>
</html>